#navBar{
    background: #36465d;
    height: 54px;
    width: 100vw;
    border-bottom: #505e72 solid 1px;
    display: flex;
    justify-content: space-between;
}

#iconContainer{
    
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 25px;
    
}

#logoContainer{
    display: flex;
    align-items: center;
    
}

#iconh{
    height: 25px;
    width: auto;
    
}

#iconh:hover{
    cursor: pointer;
}

#edit{
    height: 35px;
}

#edit{
    cursor: pointer;
}

#logoh{
    height: 34px;
    width: auto;
    padding-left: 25px;
    padding-right: 15px;
    
}

.hide{
    display: none;
}

.glass{
    height: 22px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}

#search{
    background: #2f3d51;
    width: 50vw;
    max-width: 600px;
    height: 60%;
    border-radius: 1%;
    display: flex;
    color: #919aa7;
    
}
#searchbar{
    display: flex;
    align-items: center;
}

path{
    fill: pink;
}

.modal-backdrop{
    background: pink;
}