#dpmain{
    background: white;
    width: 300px;
    border-radius: 4px;
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap;
    overflow: hidden;
}

.dphimg{
    height: 30px;
    width: 30px;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 15px;
}
.dphimg img{
    height: 30px;
    width: 30px;
}

.dpheader{
    height: 60px;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
    font: 14px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.dphfollow{
    margin-left: 10px;
    color: #529ecc;
}

.dpcontent{
    min-height: 100px;
}

.dpfooter{
    height: 60px;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dpficons{
    display: flex;
}