#loginMain{
    height: 100vh;
    background: rgba(0, 0, 0, 0.199);
}

#mainsignin{
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 80px;
}

#fulllogo>img{
    width: 300px;
    padding: 20px;
}

#subtitle{
    color: white;
}
#subtitle>div{
    padding: 5px;
}

.center{
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}